.card {
  display: grid;
  grid-template: "amount amount" "number logo";
  gap: var(--gap-md);
  border: 1px solid var(--colors-black);
  border-radius: 20px;
  padding: var(--gap-md);
  width: 288px;
  aspect-ratio: 16/9;
  background: linear-gradient(
    111.34deg,
    var(--background-from, #000) 0%,
    var(--background-to, #fff) 100%
  );
  color: var(--colors-white);

  &__balance {
    grid-area: amount;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-extrabold);
    line-height: 28.13px;
  }

  &__number {
    grid-area: number;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    letter-spacing: 1px;
    place-self: end start;
  }

  &__logo {
    grid-area: logo;
    place-self: end;
  }
}
