<app-action label="Home" [link]="[]">
  <img ngSrc="assets/icons/home.svg" alt="home" width="24" height="24" />
</app-action>

<app-action label="Exchange" [link]="['/exchange']">
  <img ngSrc="assets/icons/exchange.svg" alt="exchange"  width="24" height="24"/>
</app-action>

<app-action label="Map" [link]="['/map']">
  <img ngSrc="assets/icons/map.svg" alt="map" width="24" height="24" />
</app-action>

<app-action label="Settings" [link]="['/settings']">
  <img ngSrc="assets/icons/settings.svg" alt="settings" width="24" height="24" />
</app-action>

