<app-action label="Send" [link]="['/send']" [style]="'secondary'">
  <img ngSrc="./assets/icons/send.svg" alt="send" width="24" height="24" />
</app-action>

<app-action label="Receive" [link]="['/receive']" [style]="'secondary'">
  <img
    ngSrc="./assets/icons/receive.svg"
    alt="exchange"
    width="24"
    height="24"
  />
</app-action>

<app-action label="Utilities" [link]="['/utilities']" [style]="'secondary'">
  <img ngSrc="./assets/icons/bank.svg" alt="Utilities" width="24" height="24" />
</app-action>

<app-action label="Stats" [link]="['/stats']" [style]="'secondary'">
  <img ngSrc="assets/icons/stats.svg" alt="Stats" width="24" height="24" />
</app-action>
