:host {
  display: block;
  border: 1px solid #ebebeb;
  border-radius: 2em;
  padding: 1em;

  header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-md);

    h1 {
      font-size: var(--font-size-lg);;
      font-weight: var(--font-weight-bold);
    }
  }


  ul {
    list-style: none;
    padding-left: 0;

    h2 {
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-normal);
      margin-block: 1rem;
    }

    li {
      margin-bottom: var(--gap-md)
    }
  }
}
